<div  >
    <h2 style="color:#094666;"> Grocery List Manager 
        <img src="../../assets/grocery-bag-image-with-food.png" alt="grocery bag image" width="60" height="60">
    </h2>
 
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="input-group" (keydown)="handleKeyDown($event)" >
                <input type="text" class="form-control" placeholder="Enter grocery items" id="txtSearch" [(ngModel)]="task.name" />
                <div class="input-group-btn">
                    <button class="btn btn-success" type="button"(click)="onClick()">
        <span class="glyphicon glyphicon-ok"></span>    
      </button>  
        
                </div>
            </div>
        </div>
    </div>
    <br/>
    <ul class="list-group" >
      <li *ngFor="let task of tasks" class="list-group-item" >
     <!-- <span>{{task.id}} {{task.name}}</span>  -->

<!-- ****The code inside the select creates the dropdown option representing quantity**** -->
<select name="quantity" id="quantity">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select>


    <span (click)="onStrike(task)" [ngClass]="{'strike': task.strike}" class="nameInput"> {{ task.name }} </span>
    <span (click)="onEdit(task)" class="glyphicon glyphicon-pencil floatright"></span> 
    <span (click)="onDelete(task)"class="glyphicon glyphicon-remove floatright paddingLeft"></span> 
   
   </li> 
  </ul> 
  <button  (click)="clear()" class="btn btn-primary">Clear All <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
  </svg></button>    
</div>