/* You can add global styles to this file, and also import other style files */
.strike{
  text-decoration:line-through;
}

body{
  background-color:#bfd1db ;
  padding-left: 30px;
  padding-right: 30px;

}